<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="material-icons md-18">school</span>
  <%= link_to 'myCampus', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
       <%= link_to 'About', home_about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Login', home_login_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Register', home_register_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'View Students', student_omegas_url, class: "nav-link"%>
      </li>
    </ul>
  </div>
</nav>