<div id="<%= dom_id student_omega %>">
  <p>
    <strong>First name:</strong>
    <%= student_omega.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student_omega.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_omega.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student_omega.phone %>
  </p>

  <p>
    <strong>High school:</strong>
    <%= student_omega.high_school %>
  </p>

  <p>
    <strong>Hometown:</strong>
    <%= student_omega.hometown %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= student_omega.instagram %>
  </p>

  <p>
    <strong>Snapchat:</strong>
    <%= student_omega.snapchat %>
  </p>

  <p>
    <strong>Highschool activities:</strong>
    <%= student_omega.highschool_activities %>
  </p>

</div>
