<p style="color: green"><%= notice %></p>

<%= render @student_omega %>

<div>
  <%= link_to "Edit this student", edit_student_omega_path(@student_omega) %> |
  <%= link_to "Back to student", student_omegas_path %>

  <%= button_to "Destroy this student", @student_omega, method: :delete %>
</div>
