<p style="color: green"><%= notice %></p>

<%= render @student_omega %>

<div>
  <%= link_to "Edit this student omega", edit_student_omega_path(@student_omega) %> |
  <%= link_to "Back to student omegas", student_omegas_path %>

  <%= button_to "Destroy this student omega", @student_omega, method: :delete %>
</div>
